* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 18px;
  font-style: italic;
}

.container {
  margin: 5% 33vw 0 33vw;
}

.in {
  border: 1px solid red;
  border: 1px solid black;
  display: flex;
  justify-content: center;
}

.out {
  border: 1px solid green;
}

.task {
  background-color: aqua;
}
