* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 25px;
  font-style: italic;
}

.main-container {
  margin: 5% 33vw 0 33vw;
  padding: 10px;

  border: 1px solid black;
  border-radius: 4px;
}

.input-container {
  padding: 10px;
  display: flex;
  justify-content: center;
}

.output-container {
  padding: 10px;
}

.todo-style {
  padding: 10px;
  margin-bottom: 6px;

  background-color: mintcream;
  border: 1px solid black;
  /* box-shadow: 1px 1px 1px; */
  border-radius: 4px;

  animation: fadeIn ease 0.4s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
