* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 25px;
  font-family: "Open Sans", sans-serif;
}

.main-container {
  margin: 5% 33vw 0 33vw;
  padding: 10px;
}

.input-container {
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
}

.output-container {
  padding: 10px;
}

button {
  padding: 4px;
  margin: 3px;
  flex: 1;
}

.todo-style {
  padding: 10px;
  margin-bottom: 8px;

  color: white;

  background-color: #6d8ded;
  border: 1px solid black;
  border-radius: 6px;

  display: flex;
  align-items: center;

  animation: fadeIn ease 0.4s;
}

.todo-style > div {
  flex: 6;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
